body {
    background-color: #222;
    color: white;
    font-family: Arial;
}

a {
    color: white;
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
}

form {    
    padding: 5px;
}

button,input,select {
    padding: 10px;
}